In [1]:
import pandas as pd
import numpy as np
import os
import collections

In [2]:
folder = "fb/facebook"
apath="snap_dataset/"

In [3]:
def process_file(file_id, folder):
    # Read ego, egofeat, and featnames data from the file
    ego = pd.read_csv(apath+f"{folder}/{file_id}.egofeat", sep=" ", header=None)
    egofeat = pd.read_csv(apath+f"{folder}/{file_id}.feat", sep=" ", header=None)
    featnames = pd.read_csv(apath+f"{folder}/{file_id}.featnames", sep=" ", header=None)
    print(f"Processing file with ID: {file_id}")
    # Create a list of ego features
    eglist=[file_id] #set 1th element as file id
    for i in list(ego):
        eglist.append(int(ego[i].iloc[0])) #features list from ego
    egofeat.loc[len(egofeat.index)] = eglist #combine .egofeat with .feat
    
    #In case of the bad featurename split from csv edit the column
    featnames['feat_name'] = featnames.apply(lambda row: f"{row[0],row[1],row[2]}", axis=1)
    featnames = featnames.drop([1,2,3], axis=1)
    featnames[0] += 1 #reallign columns
    featnames.loc[len(egofeat.index)] = [0, 'id'] #set 0 as id
    featnames = featnames.sort_values(by=[0]) #sort values
    
    a = list(featnames['feat_name'])
    egofeat.columns = a #change the column names to match feature name 
     
    return egofeat

file_ids = []
for filename in os.listdir(apath+f"{folder}"):
    if filename.endswith(".egofeat"):
        file_id = int(filename.split(".")[0])
        file_ids.append(file_id)  
        
egofeat_list = [process_file(file_id, folder) for file_id in file_ids]

Processing file with ID: 0
Processing file with ID: 107
Processing file with ID: 1684
Processing file with ID: 1912
Processing file with ID: 3437
Processing file with ID: 348
Processing file with ID: 3980
Processing file with ID: 414
Processing file with ID: 686
Processing file with ID: 698

In [4]:
result = egofeat_list[0]
for egofeat in egofeat_list[1:]:
    common_cols = set(result.columns) & set(egofeat.columns) # Find the common columns
    result = pd.merge(result, egofeat, on=list(common_cols), how='outer') # Merge ego feat and features

In [5]:
result.sort_values(by=['id'])

,id,"(0, 'birthday;anonymized', 'feature')","(1, 'birthday;anonymized', 'feature')","(2, 'birthday;anonymized', 'feature')","(3, 'birthday;anonymized', 'feature')","(4, 'birthday;anonymized', 'feature')","(5, 'birthday;anonymized', 'feature')","(6, 'birthday;anonymized', 'feature')","(7, 'birthday;anonymized', 'feature')","(8, 'education;classes;id;anonymized', 'feature')",...,"(38, 'work;employer;id;anonymized', 'feature')","(39, 'work;employer;id;anonymized', 'feature')","(40, 'work;employer;id;anonymized', 'feature')","(41, 'work;end_date;anonymized', 'feature')","(42, 'work;end_date;anonymized', 'feature')","(43, 'work;location;id;anonymized', 'feature')","(44, 'work;location;id;anonymized', 'feature')","(45, 'work;start_date;anonymized', 'feature')","(46, 'work;start_date;anonymized', 'feature')","(47, 'work;start_date;anonymized', 'feature')"
358,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3817,4034,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3818,4035,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3819,4036,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3820,4037,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3821,4038,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
result2=result.replace(np.nan,0)

df_boolean = result2.iloc[:, 1:].astype(bool)

# Concatenate the first column with the boolean DataFrame
result2 = pd.concat([result2.iloc[:, :1], df_boolean], axis=1)
result3 = result2.groupby('id').max().reset_index()
result3=result3.set_index('id')
result3

,"(0, 'birthday;anonymized', 'feature')","(1, 'birthday;anonymized', 'feature')","(2, 'birthday;anonymized', 'feature')","(3, 'birthday;anonymized', 'feature')","(4, 'birthday;anonymized', 'feature')","(5, 'birthday;anonymized', 'feature')","(6, 'birthday;anonymized', 'feature')","(7, 'birthday;anonymized', 'feature')","(8, 'education;classes;id;anonymized', 'feature')","(9, 'education;classes;id;anonymized', 'feature')",...,"(38, 'work;employer;id;anonymized', 'feature')","(39, 'work;employer;id;anonymized', 'feature')","(40, 'work;employer;id;anonymized', 'feature')","(41, 'work;end_date;anonymized', 'feature')","(42, 'work;end_date;anonymized', 'feature')","(43, 'work;location;id;anonymized', 'feature')","(44, 'work;location;id;anonymized', 'feature')","(45, 'work;start_date;anonymized', 'feature')","(46, 'work;start_date;anonymized', 'feature')","(47, 'work;start_date;anonymized', 'feature')"
id,,,,,,,,,,,,,,,,,,,,,
0,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4034,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4035,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4036,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4037,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4038,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [7]:
result3.to_csv(f"raw/fb.txt", sep=' ', index=False, header=False)